.preset1 {
    color: red;
    background-color: black;
}

.preset2 {
    color: black;
    background-color: red;
}

#buttons {
    display: flex;
    justify-content: center;
    gap: 20px;

    height: 50px;
}

#buttons button {
    flex: 1;
    border-radius: 10px;
}